---
import { Image } from 'astro:assets';
import GithubIcon from '../components/icons/socials/GithubIcon.astro';

export interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  tags: string[];
  link?: string;
  github?: string;
}
const { title, description, image, tags, link, github } = Astro.props as Props;
---
<article class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full h-full items-center justify-center border border-black/10 dark:border-white/10 rounded-2xl p-6 bg-gradient-to-b from-black/5 to-black/2 dark:bg-gradient-to-b dark:from-white/5 dark:to-white/2 hover:from-black/10 hover:to-black/5 dark:hover:from-white/10 dark:hover:to-white/5 transition">
  <Image src={image} alt={title} class="rounded-lg w-full h-64 object-cover" loading="lazy" decoding="async"/>
  <div class="flex flex-col gap-2">
    <h1 class="text-3xl font-semibold">{title}</h1>
    <p class="text-black/80 dark:text-white/80">{description}</p>
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <span class="bg-black/10 text-black/80 dark:bg-white/10 text-sm dark:text-white/80 px-2 py-1 rounded-full">{tag}</span>
      ))}
    </div>
      <div class=" flex gap-4 mt-2">
        {link && (
          <a href={link} target="_blank" class="text-blue-500 hover:underline">Ver proyecto</a>
        )}
        {github && (
          <a href={github} target="_blank" class="flex flex-row gap-2 justify-center items-center bg-black/5 dark:bg-white/5 border border-black/10 dark:border-white/10 rounded-xl px-3 py-2 hover:bg-black/15 dark:hover:bg-white/15 transition">
            <GithubIcon/>Ver código</a>
        )}
      </div>
  </div>
</article>